@use './colors' as *;

@mixin position-center {
  position: absolute;
  top: 50%;
  left: 50%;
}

@mixin position-center-horizontal {
  position: absolute;
  left: 50%;
}

@mixin transform-center {
  transform: translate(-50%, -50%);
}

@mixin widget {
  padding: 10px;
  background-color: $background-block;
  border: 1px solid $border-primary;
  border-radius: 10px;
}
