@use '../styles/colors' as *;
@use '../styles/mixins' as *;

.clock {
  $size: 500px;

  display: flex;
  width: $size;
  height: $size;
  background-color: $background-invert;
  border-radius: 50%;
  border: 2px solid $border-primary;
}

.circle {
  display: flex;
  flex: 1;
  margin: 5px;
  border-radius: 50%;
  border: 1px solid $border-secondary;
}

.relative {
  position: relative;
}

.hand {
  @include position-center;

  transform-origin: top;
  background-color: $background-primary;
  border-radius: 5px;
}

.hand-second {
  width: 2px;
  height: 45%;
}

.hand-minute {
  width: 4px;
  height: 35%;
}

.hand-hour {
  width: 7px;
  height: 20%;
}

.dot {
  @include position-center;
  @include transform-center;
  $size: 10px;

  width: $size;
  height: $size;
  background-color: $background-invert;
  border: 5px solid $background-primary;
  border-radius: 50%;
}

.marker-container {
  position: absolute;
  left: 50%;
  height: 50%;
  transform-origin: bottom;
}

.marker-large {
  width: 5px;
  height: 10px;
  background-color: $background-primary;
}

.marker-medium {
  width: 3px;
  height: 5px;
  background-color: $background-secondary;
}

.marker-small {
  width: 1px;
  height: 3px;
  background-color: $background-secondary;
}

.widget {
  @include transform-center;

  position: absolute;
  left: 50%;
  padding: 10px;
  background-color: $background-block;
  border: 1px solid $border-primary;
  border-radius: 10px;
}

.date {
  top: 25%;
  text-transform: uppercase;
}
